@charset "EUC-KR";

/* 왼쪽창*/
#container01 {
	width: 38rem;
	margin-left: 28rem;
	margin-right: 55rem;
	margin-bottom: 0.5rem;
	background-color: #FFFFFF;
}
/* 오른쪽창 */
#scroll {
	background-color: white;
	width: 19rem;
	height: 40rem;
	margin-top: 7rem;
	margin-left: 67rem;
	padding: 2rem;
}
/* 오른쪽단어들 */
.wordShortCut{
	border-bottom: 1px solid grey;
	font-size: 1.1rem;
	margin-bottom: 10px;
}
/* 왼쪽창에서 실제컨텐츠 표시부분 */
#container02 {
	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
	background-color: #FFFFFF;
}

/* 반응형위한미디어쿼리 현재임시로 반응형으로 창비율조절하지만 칸으로 수정필요*/
@media ( max-width :1600px) {
	/* 왼쪽창*/
	#container01 {
		margin-left: 20rem;
	}
	/* 오른쪽창 */
	#scroll {
		margin-left: 59rem;
	}
	.green_window {
		width: 166px;
	}
}
@media ( max-width :1400px) {
	/* 왼쪽창*/
	#container01 {
		margin-left: 12rem;
	}
	/* 오른쪽창 */
	#scroll {
		margin-left: 51rem;
	}
	.green_window {
		width: 166px;
	}
}
@media ( max-width :1200px) {
	/* 왼쪽창*/
	#container01 {
		margin-left: 6rem;
	}
	/* 오른쪽창 */
	#scroll {
		margin-left: 45rem;
	}
	.green_window {
		width: 166px;
	}
}
@media ( max-width :1000px) {
	
	#scroll {
		display: none;
	}
	.green_window {
		width: 166px;
	}
}

/* 추,비추 */
#rate {
	float: right;
}
/* 추천검색어창 */
#searchRecommendSection {
	margin-top: 10px;
}

.recommendSection {
	color: blue;
	width: 359px;
	background-color: white;
	height: 2.7rem;
	font-size: 20px;
}

.recommendSection:hover {
	background-color: yellow;
	color: blue;
	width: 359px;
	height: 2.7rem;
	font-size: 20px;
}

/* 네브바 링크 */
#navLink {
	font-size: 17px;
	font-color: white;
	position: relative;
	top: 15px;
	padding-left: 3rem;
}

#navbarResponsive {
	margin-top: 8px;
	font-size: 15.5px;
}

#title {
	padding-bottom: 5px;
	position: relative;
	bottom: 2.5px;
	font-size: 31px;
}

#title:link {
	text-decoration: none;
}

/* 검색창 */
.green_window {
	display: inline-block;
	position: relative;
	top: 4px;
	width: 366px;
	height: 50px;
	border: 3px solid #2B7A78;
	background: white;
}
/* 글삭제버튼 */
#delete {
	float: right;
}

.input_text {
	width: 348px;
	height: 37px;
	position: relative;
	bottom: 2px;
	margin: 6px 0 0 9px;
	border: 0;
	line-height: 21px;
	font-weight: bold;
	font-size: 16px;
	outline: none;
}

.sch_smit {
	width: 54px;
	height: 50px;
	position: relative;
	top: 4px;
	margin: 0;
	border: 0;
	vertical-align: top;
	background: #2B7A78;
	color: white;
	font-weight: bold;
	border-radius: 1px;
	cursor: pointer;
}

.sch_smit:hover {
	background: #f7d894;
}
/* 댓글표시화살표 */
#diagram {
	width: 3px;
	height: 8px;
	background-color: #FF9900;
}

.cont-box-pseudo {
	width: 7px;
	height: 3px;
	background-color: #FF9900;
}

.cont-box-pseudo:before {
	content: "";
	display: block;
	border-right: 6.5px solid #FF9900;
	border-bottom: 6.5px solid transparent;
	position: relative;
	left: 10px;
	bottom: 10px;
	transform: rotate(22deg) translateY(14px);
	-ms-transform: rotate(25deg) translateY(14px);
	-webkit-transform: rotate(44deg) translateY(11px);
	-moz-transform: rotate(25deg) translateY(14px);
	-o-transform: rotate(22deg) translateY(14px);
}

/* 댓글표시창 */
.subViewSection {
	float: left;
}

/* 댓글기록표시창 */
.textSection {
	float: left;
}

.deleteTag {
	float: right;
}

.deleteShowTag {
	float: right;
}

.temp {
	float: right;
}

#deleteShowButton {
	font-size: 80%;
}

#subView {
	padding-right: 10rem;
}

#loginBody {
	background-color: yellow;
}

/* login.jsp */
#loginInputSection {
	width: 20rem;
	text-align: center;
	position: absolute;
	top: 40%;
	left: 40%;
	margin: -50px 0 0 -50px;
}

/* memberjoin.jsp */
#memberJoin {
	background-color: yellow;
}

#signUp {
	width: 20rem;
	text-align: center;
	position: absolute;
	top: 28%;
	left: 40%;
	margin: -50px 0 0 -50px;
}

#notMember {
	font-size: 24px;
	margin-bottom: 10px;
}

#signUpButton {
	width: 4rem;
}

#deleteButton {
	width: 4rem;
}
/* newword_write */

#cont{
	margin-top: 3rem;
	margin: auto;
	width: 20rem;	
}
.wid{
	width: 40rem;
	height: 4rem;
	font-size: 2rem;
}
.editor1{
	width: 40rem;
}
#in{
	text-decoration:none;
	color:#000; 
	font-size: 2.1rem;
	height: 4rem;
	margin-top: 1rem;
	width: 40.05rem;
}
#inde{
	display:inline-block; 
	text-align:center; 
	vertical-align:middle; 
	text-decoration:none;
	padding-top: 0.7rem; 
	font-size: 2.1rem; 
	color:#000; 
	border:1px solid #000; 
	width: 40rem; 
	height: 4rem; 
	line-height:38px;
}