@charset "EUC-KR";


#write {
	border: 1px solid red; 
	margin-left: 7rem;
}
.container01 {
	border: 1px solid red; 
	margin-left: 7rem;
}
#newword {
	border: 1px solid blue; 
	margin-left: 7rem;
}


#content {
	/* border: 1px solid red; */  
	width: 18rem;
	margin-left: 21rem;
	margin-top: 4rem;
}
/* .box{
	width:18rem;
	
} */
.row {
	margin: 10px;
}

#login {
	width: 22rem;
}

#pw {
	width: 22rem;
}

#naverIdLogin {
	width: 22rem;
	heigh: 1rem;
}

#join {
	/* border: 1px solid red; */
	width: 28rem;
	margin-left: 5rem;
	margin-top: 2rem;
}
#cont {
	width: 23rem;
}
#LoginCheck {
	/* border: 1px solid red; */
	float: right;
}
