<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.defineMapper">
	  
	<insert id="newwordWriting" parameterType="com.example.dto.NewwordVO" >
		INSERT INTO DEFINE (WORD, ID, PW, INFO) VALUES (#{word}, #{id}, #{pw}, #{editor1})
	</insert>
	
	<insert id="defineWriteSub" parameterType="com.example.dto.DefineSubVO" >
		INSERT INTO DEFINESUB (CONNUM, SPACE, CONTENT, PW) VALUES (#{connum}, #{space}, #{content}, #{pw})
	</insert>
	
	<select id="mainDefineList" resultType="com.example.dto.MainDefineContentVO" >
		SELECT NUM, ID, PW, WORD, INFO, UP, DOWN FROM DEFINE
	</select>
	
	<select id="getDefinSubList" resultType="com.example.dto.DefineSubVO" >
		SELECT NUM, CONNUM, SPACE, CONTENT FROM DEFINESUB 
	</select>
	
	<select id="getDefineSub" parameterType="Integer" resultType="com.example.dto.DefineSubVO" >
		SELECT NUM, CONNUM, SPACE, CONTENT, PW FROM DEFINESUB WHERE NUM = #{numb};
	</select>
	
	<delete id="deleteAllSub" > 
		Truncate DEFINESUB
	</delete> 
		
	<delete id="deleteDefineSub" parameterType="Integer"> 
		DELETE FROM DEFINESUB WHERE NUM = #{num};
	</delete> 
	 
</mapper>

