<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.fileMapper">
	
	<select id="getfile" resultType="com.example.dto.FileContentVO2" parameterType="String">
		SELECT  title, content, save_file_name FROM FILECONTENTS WHERE num = #{num}
	</select>
	
	<delete id="filedeleting" parameterType="com.example.dto.FileContentVO"> 
		DELETE FROM FILECONTENTS WHERE num = #{num}
	</delete> 	
	
	<update id="minus_filenum"> 
		UPDATE page_number SET page_num = page_num - 1 WHERE page_name = 'file'
	</update>
	
	<select id="selectFile" resultType="com.example.dto.FileContentVO" >
		SELECT num, id ,title, content, save_file_name FROM FILECONTENTS
	</select>
	
	<select id="Fnum" resultType="String">
		SELECT  page_num FROM page_number WHERE page_name = "file"
	</select>
	
	<insert id="filewriting" parameterType="com.example.dto.FileContentVO" >
		INSERT INTO FILECONTENTS (id, title, content, save_file_name) VALUES (#{id}, #{title}, #{contents}, #{save_file_name})
	</insert>
	
	<update id="fileupdating" parameterType="com.example.dto.FileContentVO" >
		UPDATE FILECONTENTS SET title=#{title}, content=#{contents}, save_file_name=#{save_file_name} WHERE num = #{num}
	</update>
	
	<update id="plus_filenum">
		UPDATE page_number SET page_num = page_num + 1 WHERE page_name = 'file'
	</update>
		
	
</mapper>