<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.memberMapper">

	<!-- 
		mybatis-config.xml의 typeAlias에 등록해두지 않았다면 
		
		<select id="selectMember" resultType="com.example.dto.MemberVO" >
			SELECT ID, PW ,NAME FROM TEST
		</select>
		
		이렇게 해야 한다.
	-->
	
	<select id="selectContent" resultType="com.example.dto.HomeContentVO" >
		SELECT num, id ,title FROM CONTENTS
	</select>
	
	<select id="selectpw" resultType="String" parameterType="String">
		SELECT pw FROM MEMBER WHERE id = #{a}
	</select>
	
	<select id="getcontent" resultType="com.example.dto.GetContentVO" parameterType="String">
		SELECT  title, content FROM CONTENTS WHERE num = #{num}
	</select>
	
	<insert id="insertingMember" parameterType="com.example.dto.MemberVO" >
		INSERT INTO TEST (ID, PW, NAME) VALUES (#{id}, #{pw}, #{name})
	</insert>
	
	<insert id="memberjoining" parameterType="com.example.dto.MemberjoinVO" >
		INSERT INTO MEMBER (id, pw, user_name, email) VALUES (#{id}, #{pw}, #{name}, #{email})
	</insert>
	
	<insert id="writing" parameterType="com.example.dto.ContentsVO" >
		INSERT INTO CONTENTS (id, title, content) VALUES (#{id}, #{title}, #{contents})
	</insert>
	
	<update id="updatingMember" parameterType="com.example.dto.MemberVO" >
		UPDATE TEST SET ID = #{id}, PW = #{pw}, NAME = #{name} WHERE ID = #{id}
	</update> 
	
	<update id="newupdating" parameterType="com.example.dto.NewupdatingVO" >
		update CONTENTS set title = #{title}, content = #{content} WHERE num = #{num}
	</update>  
	
	<delete id="deletingMember" parameterType="com.example.dto.NewupdatingVO"> 
		DELETE FROM CONTENTS WHERE num = #{num}
	</delete> 
	
	
</mapper>